.dropdown {
  position: relative;

  .dropdown-button {
    position: relative;
    height: 24px;
    width: 24px;
    background: url("../../assets/option.svg") no-repeat;
    background-position: center;
  }

  .dropdown-button:hover {
    cursor: pointer;
    background: url("../../assets/option-hover.svg") no-repeat;
    background-position: center;
  }

  .dropdown-menu {
    position: absolute;
    width: 200px;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 21px 0px;
    background-color: $white-color;
    border-radius: 12px;
    top: 28px;
    right: 0;
    min-width: 100px;
    z-index: 1;
    li {
      padding: 8px 12px;
      font-size: $font-size-desktop-text-2;
      font-weight: $font-weight-medium;
      & + li {
        margin-top: 9px;
      }
      &:hover {
        color: $accent-color;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .dropdown {
    .dropdown-menu {
      width: 160px;
      li {
        font-size: $font-size-mobile-text-2;
      }
    }

    .dropdown-button,
    .dropdown-button:hover {
      background: url("../../assets/option-mb.svg") no-repeat;
      background-position: center;
    }
  }
}
