.list {
  margin-bottom: 2em;

  & > div {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: start;

    & > * {
      flex-basis: calc(300px - 40px);
      flex-grow: 1;
    }
  }
}
