$bg-color: #f4f4f4;
$white-color: #fdfdfd;
$accent-color: #22a0bc;
$light-gray-color: #dadada;
$gray-color: #9c9c9c;
$dark-gray-color: #595959;
$black-color: #161616;

$font-size-desktop-title: 24px;
$font-size-desktop-headline: 20px;
$font-size-desktop-text-1: 18px;
$font-size-desktop-text-2: 16px;
$font-size-desktop-caption: 14px;

$font-size-mobile-title: 24px;
$font-size-mobile-headline: 18px;
$font-size-mobile-text-1: 16px;
$font-size-mobile-text-2: 14px;
$font-size-mobile-caption: 10px;

$font-weight-semibold: 600;
$font-weight-medium: 500;

html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $bg-color;
  overflow-y: scroll;
}

input[type="submit"] {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.border-bottom {
  border-bottom: 1px solid $light-gray-color;
  padding-bottom: 0.5em;
}

.container {
  margin: 0 auto;
  max-width: 1216px;
  padding: 2em;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 1em;
  }
}
