input[type="submit"].btn {
  background-color: $black-color;
  color: $white-color;
  padding: 12px 42px;
  margin: 10px 0;
  border-radius: 30px;
  font-size: 16px;

  &:hover {
    background-color: $bg-color;
    color: $dark-gray-color;
  }
}
