.edit-page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

  & > div {
    background-color: $white-color;
    padding: 40px;
    border-radius: 8px;
  }

  .preview {
    width: 360px;

    img {
      max-width: 280px;
      height: 480px;
      margin-bottom: 40px;
      border-radius: 10px;
      object-fit: cover;
    }

    h3 {
      font-size: $font-size-desktop-text-2;
      margin-bottom: 2em;
    }
  }

  .data {
    width: 760px;
    height: auto;

    h2 {
      font-size: $font-size-desktop-title;
      margin-bottom: 1em;
    }

    form {
      max-width: 420px;
    }
  }
}

@media screen and (max-width: 800px) {

}