.edit-page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

  & > div {
    background-color: $white-color;
    padding: 40px;
    border-radius: 8px;
  }

  .preview {
    width: 35%;
    min-width: 360px;
    margin-right: 40px;

    img {
      width: 100%;
      height: 480px;
      margin-bottom: 40px;
      border-radius: 10px;
      object-fit: cover;
    }

    h3 {
      font-size: $font-size-desktop-text-2;
      margin-bottom: 2em;
    }
  }

  .data {
    width: 760px;
    height: auto;

    h2 {
      font-size: $font-size-desktop-title;
      margin-bottom: 1em;
    }

    form {
      max-width: 420px;
    }
  }
}

@media screen and (max-width: 800px) {
  .edit-page {
    flex-direction: column;
    .preview {
      width: 100%;
      min-width: auto;
      margin-bottom: 2em;
      img {
        max-height: 187px;
      }
    }
    .data {
      width: 100%;
    }
  }
}

@media screen and (max-width: 940px) {
  // .edit-page > .preview > .data {

  // }
  .edit-page > .data > form {
    max-width: none;
    input[type="submit"] {
      width: 100%;
    }
  }
}
