.card {
  display: flex;
  justify-content: flex-start;
  height: 168px;
  border-radius: 1em;
  padding: 1.5em;
  background-color: $white-color;

  img {
    width: 40%;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 1em;
  }

  .card-body {
    width: 100%;
    display: flex;
  }

  .card-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
    align-content: start;
    flex-grow: 1;

    .card-user-name {
      font-size: $font-size-desktop-headline;
      color: $accent-color;
    }

    .card-company-name {
      font-size: $font-size-desktop-text-2;
      font-weight: $font-weight-medium;
      color: $dark-gray-color;
    }

    .card-city {
      font-size: $font-size-desktop-caption;
      color: $gray-color;
      align-self: end;
      margin-top: 1em;
    }
  }

  &.archived {
    img {
      filter: grayscale(100%);
    }

    .card-content {
      .card-user-name {
        color: $dark-gray-color;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .card {
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: none;
    height: auto;

    img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1em;
    }

    .card-body {
      width: 100%;
    }

    .card-content {
      width: 100%;
      margin: 0;

      .card-user-name {
        font-size: $font-size-mobile-headline;
        color: $accent-color;
      }

      .card-company-name {
        font-size: $font-size-mobile-text-2;
        font-weight: $font-weight-medium;
      }

      .card-city {
        font-size: $font-size-mobile-caption;
        color: $gray-color;
        align-self: end;
      }
    }
  }
}
